@import "tailwindcss";

body {
  width: 100%;
  height: 100svh;
  background-color: #4a39a3;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

a:hover {
  cursor: pointer;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 700;
  font-style: normal;
}
